{% extends "mailing/base.html" %}

{% load static %}

{% block title %}object.title{% endblock %}

{% block content %}
    <div class="card-header">
        <h3>{{ object.title }}</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 portfolio-item">
            <div class="card h-100">
                <div class="card-body">
                    {{ form.as_p }}
                    <p class="card-text"><b>Периодичность:</b> {{ object.get_period_display }}</p>
                    <p class="card-text"><b>Статус:</b> {{ object.get_status_display }}
                        <a href="{% url 'task_switch' object.pk %}" class="btn btn-primary">{{ button_text }}</a></p>
                    <p class="card-text"><b>Тема:</b> {{ object.subject }}</p>
                    <p class="card-text"><b>Текст:</b><br>{{ object.body }}</p>
                    <p class="card-text"><b>Интервалы рассылки:</b>
                        {#                        <a href="{% url 'task' object.id %}" class="btn btn-primary">Добавить</a><br>#}
                    </p>
                    {% for ti in object.intervals.all %}
                        <p>{{ ti.start }} - {{ ti.end }}</p>
                    {% endfor %}
                    {% if not_manager %}
                        <form action="update/">
                            <input class="btn btn-warning" type="submit" value="Редактировать рассылку"/>
                        </form>
                        <form action="delete/">
                            <input class="btn btn-danger" type="submit" value="Удалить рассылку"/>
                        </form>
                    {% endif %}
                </div>
                <div class="card-footer">
                    {#                    <a href="{% url 'task_list' %}" class="btn btn-primary"><< Назад</a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}