{% extends "mailing/base.html" %}

{% load static %}

{% block title %}object.name{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 portfolio-item">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <p>{{ object.title }}</p>
                    </h4>
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Вы уверены?">
                    </form>
                </div>
                <div class="card-footer">
                    <a href="{% url 'task_list' %}" class="btn btn-primary"><< Назад</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}